.yith-gf-post-container{
    border: 1px solid black;
    margin: 20px;
    padding: 40px;
}

.yith-gf-post-title{
	font-size: 3rem;
	letter-spacing: normal;
	line-height: 1.3;
}

.yith-gf-post-container-image{
	margin: 20px;
}