#yith_pl_form{
  width:300px;
  padding:16px;
  border-radius:10px;
  margin:auto;
  background-color:#ccc;
}

#yith_pl_form label{
  width:72px;
  font-weight:bold;
  display:inline-block;
}

#yith_pl_form #checkbox_label{
  width:80%;
  font-weight:bold;
  display:inline-block;
}

#yith_pl_form input[type="text"],
#yith_pl_form input[type="email"]{
  width:180px;
  padding:3px 10px;
  border:1px solid #f6f6f6;
  border-radius:3px;
  background-color:#f6f6f6;
  margin:8px 0;
  display:inline-block;
}

#yith_pl_form input[type="submit"]{
  width:100%;
  padding:8px 16px;
  margin-top:32px;
  border:1px solid #000;
  border-radius:5px;
  display:block;
  color:#fff;
  background-color:#000;
}
