@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.yith-pt-posts{
	display: grid;
	grid-template-columns: repeat( 3, 1fr );
	margin: 5px;
}

.yith-pt-post-container {
	background: #fff;
  text-align: center;
  padding: 20px 40px 10% 10%;
  border-radius: 5px;
	border: 1px solid #000 ;
	margin: 5px;
}

.header {
	float: left;
	width: 100%;
	margin-bottom: 10px;
  margin-top: 20px;
}

.left {
	float: left;
	margin-right: 15px;
}

.right {
	float: left;
  text-align: left;
}

.yith-pt-post-content {
  float: left;
	width:100%;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: small;
  text-align: justify;
}

.yith-pt-post-container-image {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;

}

.yith-pt-post-title {
	margin: 0px 0px 5px 0px;
  font-weight: bold;
}

.yith-pt-post-company a {
  text-decoration: none;
}

.yith-pt-post-email {
  margin: 0px 0px 5px 0px;
  font-weight: lighter;
  font-size: small;
}

.yith-pt-rating-stars {
  float: left;
  width:100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.vip {
  border-color: yellow;
}

.yith-pt-meta-badge {
  color: #FFFFFF;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.yith-pt-post-votes{
  display: block;

}

.yith-pt-votes-up{
  display: inline-block;
  bottom: 0px;
}

.yith-pt-votes-down{
  display: inline-block;
  bottom: 0px;
}

.button-up{
  background: green;
}

.button-down{
  background: red;
}

.checked {
  color: orange;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

	.yith-pt-posts{
		display: grid;
		grid-template-columns: repeat( 2, 1fr );
		margin: 5px;
	}

}

/*Mobile Phone*/
@media (min-width: 481px) and (max-width: 767px) {

	.yith-pt-posts{
		display: grid;
		grid-template-columns: repeat( 1, 1fr );
		margin: 5px;
	}

}
